@font-face {
  font-family: 'TT Norms';
  src: url('TTNorms-Regular.eot');
  src: local('TT Norms Regular'), local('TTNorms-Regular'),
      url('TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
      url('TTNorms-Regular.woff2') format('woff2'),
      url('TTNorms-Regular.woff') format('woff'),
      url('TTNorms-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --black: #151515;
  --yellow: #FCD928;
  --light-gray: #ECECEC;
  --gray: #676E75;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "TT Norms";
}

p, a, h1, h2, h3, h4, button {
  color: var(--black);
  cursor: default;
}

a, button {
  cursor: pointer;
}

.white {
  color: var(--white);
}

.gray {
  color: var(--gray);
}

.yellow {
  color: var(--yellow);
}

p, a {
  font-size: 18px;
  font-weight: 500;
  line-height: 29.5px;
}

.small {
  font-size: 14px;
  line-height: 16.52px;
}

u {
  text-decoration: none;
  font-size: inherit;
  font-weight: 700;
}

b {
  font-size: inherit;
  font-weight: 900;
}

.light {
  font-size: inherit;
  font-weight: 400;
}

.underlined {
  text-decoration: underline;
}

h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
}

h2 {
  font-size: 72px;
  line-height: 84px;
  font-weight: 800;
}

h3 {
  font-size: 42px;
  line-height: 46px;
  font-weight: 800;
}

h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.title {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: var(--black);
  cursor: pointer;
}

.subtitle {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: var(--gray);
  cursor: pointer;
}

.container {
  padding-left: 399px;
  padding-right: 101px;
}

.gray-container {
  background-color: var(--light-gray);
}

.mb {
  margin-bottom: 8vh;
}

button {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  background-color: var(--yellow);
  border: none;
  border-radius: 4px;
  padding: 1vh 0;
  width: 100%;
}

button:hover {
  background-color: var(--white);
  box-shadow:inset 0px 0px 0px 3px var(--yellow);
  transition: all ease 0.3s;
}

/* SideBar */

aside {
  background-color: var(--white);
  position: fixed;
  height: 100%;
  padding: 2vh 2vw;
  box-shadow: -4px 0px 10px 0px #000;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20vh;
}

.logo-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-block:hover {
  transform: scale(1.05);
  transition: all ease 0.3s;
  cursor: pointer;
}

.logo {
  width: 55px;
}

.logo-text-block {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.aside-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
}

.aside-button-block {
  width: 100%;
  margin-top: 15vh;
}

aside .aside-list p:hover {
  transition: all ease 0.3s;
  color: var(--yellow);
  cursor: pointer;
}

/* First page */
/* Map block */

.map-img {
  width: 100%;
}

.map-tex t-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.map-text-block h1 {
  width: 45%;
}

/* Info cards block */

.info-cards-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-card {
  height: 25vh;
  background-color: var(--white);
  width: 25%;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1.5vh 2vw;
  border-radius: 4px;
  box-shadow: 0px 0px 15px -3px var(--gray);
}

.info-img1 {
  background-image: url(./map-mini.png);
}

.info-img2 {
  background-image: url(./target.png);
}

.info-img3 {
  background-image: url(./tabs.png);
}

.info-card-text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-card-arrow {
  width: 15%;
}

.info-card-arrow:hover {
  cursor: pointer;
  filter: invert(99%) sepia(100%) saturate(7498%) hue-rotate(330deg) brightness(99%) contrast(100%);
  transition: all ease 0.2s;
}

/* Lgots */

.lgots-block {
  background-image: url(./null.png);
  background-repeat: no-repeat;
  height: 100vh;
}

.lgots-text-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 29vh;
}

.lgots-text-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
}

.lgots-text {
  width: 10vw;
}

.except {
  width: 20vw;
}

/* News block */

.news-block {
  padding: 8vh 0;
}

.news-title-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-title-line-link {
  display: flex;
  align-items: center;
  gap: 5%;
}

.news-title-line-link:hover{
  cursor: pointer;
  filter: invert(99%) sepia(100%) saturate(7498%) hue-rotate(330deg) brightness(99%) contrast(100%);
}

.news-title-line-link p:hover {
  cursor: pointer;
}

.news-title-line-link-arrow {
  width: 20%;
}

.news-cards-line {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4vh;
}

.news-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  background: var(--white);
  border-radius: 4px;
  box-shadow: 0px 0px 20px -2px #00000066;
}

.news-img {
  width: 100%;
  height: 22vh;
  background-color: #fff;
  border-radius: 4px 4px 0 0;
  background-repeat: no-repeat;
}

.news-img1 {background-image: url(./news1.png) !important;}

.news-img2 {background-image: url(./news2.png) !important;}

.news-img3 {background-image: url(./news3.png) !important;}

.news-card-text-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
  padding: 2vh 1vw;
}

/* Residents */ 

.residents {
  margin-top: 8vh;
}

.residents-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 4vh;
}

.residents-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
}

.resident-img {
  width: 90%;
  background-color: var(--white);
}

/* Gallery block */

.gallery-block {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.gallery-img-big-block {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.gallery-line {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.gallery-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
}

.gallery-img-big {
  border-radius: 4px;
  width: 23.5vw;
  height: 58vh;
}

.gallery-img-small {
  border-radius: 4px;
  width: 23.5vw;
  height: 28vh;
}

.gallery-img-wide {
  border-radius: 4px;
  width: 47.8vw;
  height: 58vh;
}

.gallery-text-block {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 45vw;
}

/* Footer */

footer {
  background-color: var(--black);
  padding: 4vh 1vw;
}

.footer-list-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
}

.footer-list-elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
}

.footer-list-elements p:hover {
  cursor: pointer;
  color: var(--yellow);
  transition: all ease 0.5s;
}

.bottom {
  align-items: flex-end;
}

.footer-text-block {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.footer-text-block .underlined:hover {
  cursor: pointer;
  color: var(--yellow);
  transition: all ease 0.5s;
}

.small-block {
  width: 25% !important;
}

.footer-button {
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
  width: 110%;
  padding: 1vh 1vw;
  background: none; 
}

.footer-button:hover p {
  cursor: pointer;
  color: var(--black);
  transition: all ease 0.5s;
}

.footer-button:hover img {
  filter: invert(0%) sepia(100%) saturate(18%) hue-rotate(5deg) brightness(0%) contrast(107%);
  transition: all ease 0.5s;
}

.footer-button:hover {
  background-color: var(--white);
  box-shadow:none;
  transition: all ease 0.5s;
}

/* Default pages */

.page-title-text-block {
  margin-bottom: 2vh;
  padding-top: 2vh;
}

.page-title-text-block p u:hover {
  cursor: pointer;
  color: var(--yellow);
  transition: all ease 0.5s;
}

.page-text-block {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 60%;
}

/* Preferences */
/* Cards */

.preferences-card-block {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.preferences-card {
  width: 45%;
  box-shadow: 0px 0px 20px -2px #00000066;
  border-radius: 4px;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preferences-card-text-block {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 4vh 2vw;
  width: 60%;
}

.preferences-card-list {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.preferences-card-list-element {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.preferences-card-bottom-block {
  display: flex;
  align-items: center;
}

.preferences-card-bottom {
  border: 1px solid #00000066;
  height: 7vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preferences-card-bottom-img:hover {
  filter: invert(99%) sepia(100%) saturate(7498%) hue-rotate(330deg) brightness(99%) contrast(100%);
  cursor: pointer;
  transition: all ease 0.2s;
}

.small-bottom {
  width: 20%;
}

/* Places */
/* Cards */

.places-card {
  width: 40%;
  box-shadow: 0px 0px 20px -2px #00000066;
  border-radius: 4px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url(./map2.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding: 25vh 2vw 2vh 2vw;
}

.places-card-text-block {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 2vh;
}

.places-card-text-block h4 {
  width: 50%;
}

/* Ploshadki */
/* First block */

.plosh-first {
  width: 100%;
  border: 1px solid #00000013;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  height: 40vh;

}

.plosh-first-text-block {
  border: 1px solid #00000013;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  padding: 3vh 2vw;
  height: calc(100% - 6vh);
}

.plosh-first-text-block-text {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  align-items: flex-start;
}

.plosh-first-img-block {
  border: 1px solid #00000013;
  width: 40%;
  display: flex;
  padding: 3vh 2vw;
  justify-content: center;
  height: calc(100% - 6vh);
}

.plosh-first-img {
  width: 100%;
  height: 100%;
}

.plosh-first-text-block-little-text {
  border: 1px solid #00000013;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 2vh 1vw;
  height: 33%;
}

.plosh-first .small-bottom {
  height: 100%;
  padding: 0;
  width: 14%;
}

/* Information block */
.plosh-info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* Left text block */

.plosh-info-left {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3vh;
}

.plosh-info-table {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
}

.plosh-info-table-title-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plosh-info-table-text-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #00000040;
  padding-bottom: 1vh;
}

/* Right block */

.plosh-info-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.plosh-info-card {
  box-shadow: 0px 0px 20px -2px #00000066;
  padding: 4vh 2vw;
  border-radius: 4px;
}

.plosh-info-table-text {
  display: flex;
  gap: 5px;
}

.plosh-info-card .plosh-info-table {
  gap: 3vh;
}

.plosh-info-card-download {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Gallery */

.plosh-gallery-img {
  width: 30%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ludino1 {background-image: url(./ludino1.png);}

.ludino2 {background-image: url(./ludino2.png);}

.ludino3 {background-image: url(./ludino3.png);}

.ludino4 {background-image: url(./ludino4.png);}

.ludino5 {background-image: url(./ludino5.png);}

.ludino6 {background-image: url(./ludino6.png);}

.ludino7 {background-image: url(./ludino7.png);}

.ludino8 {background-image: url(./ludino8.png);}

.ludino9 {background-image: url(./ludino9.png);}

.borov1 {background-image: url(./borov1.png);}

.borov2 {background-image: url(./borov2.png);}

.borov3 {background-image: url(./borov3.png);}

.borov4 {background-image: url(./borov4.png);}

.borov5 {background-image: url(./borov5.png);}

.borov6 {background-image: url(./borov6.png);}

.borov7 {background-image: url(./borov7.png);}

.borov8 {background-image: url(./borov8.png);}

.borov9 {background-image: url(./borov9.png)}

/* Contacts */

.contacts {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.contacts .news-title-line-link .aside-list {
  width: 13%;
}

.contacts .news-title-line-link:hover {
  filter: none;
  cursor: default;
}

.contacts .news-title-line-link p:hover {
  cursor: default;
}

.contacts iframe {
  width: 100%;
}

/* Grounds */

.grounds {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5vh;
}

.grounds .plosh-info-table {
  width: 60%;
}

/* News */

.news {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.news .news-cards-line .news-card:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all ease 0.2s;
}

.news .news-cards-line .news-card p, .news .news-cards-line .news-card h4 {
  cursor: pointer;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination-element {
  width: 2.2vw;
  line-height: 2;
  border: 1px solid #00000013;
  background: var(--white);
  text-align: center;
}

.pag-el-active {
  background: var(--yellow);
  border: 1px solid var(--yellow);
  color: var(--white);
}

.pagination-element:hover {
  background: var(--white);
  border: 1px solid var(--yellow);
  cursor: pointer;
}

.pag-el-active:hover {
  cursor: default;
  background: var(--yellow);
  border: 1px solid var(--yellow);
}

/* Current New */
.one-new {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.one-new-img {
  width: 100%;
  height: 50vh;
  background: var(--light-gray);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.one-new-socials-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
}

.one-new-socials-line {
  display: flex;
  align-items: center;
}

.one-new-social {
  display: flex;
  width: 2.5vw;
  height: 2.5vw;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--light-gray);
}

.one-new-social-img {
  width: 24px;
}

.smaller {
  height: 24px;
}

/* Same news */
